@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
color: #1b1b32;
}
img{
   width: 100%; 
}
.logo{
    max-width: 25%;
}
.head{
    min-height: fit-content;
}
a{
    text-decoration: none;
    color: black;
    margin-right: 45px;
    font-size: 20px;
   
}
li{
    list-style: none;
}
.nav-list{
    display: flex;
    justify-content: right;
}
.email{
    text-align: center;
    padding: 15px;
}
#mail{
    padding: 5px 20px;
    border: none;
}
.btn{
    background-color: rgb(170, 170, 11);
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 20px;
    margin-top: 15px;
}
.all-feature{
    display: flex;
    justify-content: center;
}
i{
    margin-top: 20px;
}
.icon{
    font-size: 40px;
    color: #FF8C00;
}
#feature{
    max-width: 100%;
    margin-top: 40px;
    margin-right: 25%;
    margin-left: 25%;
}
p{
    font-size: 15px;
    font-weight: 30px;
}

.fe-he{
    margin-left: 15px;
}
.container{
    margin-left: 55px;
}
#works{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-left: 30%;
    margin-right: 30%;
}
#video{
    max-width: 100%;
}
@media (max-width:800px){
    #works{
        max-width: fit-content;
    }
}
#pricing{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width:800px){
  #pricing{
    flex-wrap: wrap;
    }
}
.border{
    border: 1px solid black;
    margin: 30px;
    text-align: center;
    padding: 20px;
}
